html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    font-family:"Segeo UI",Tahoma, Geneva, Verdana,sans-serif;
    line-height: 1.6;
    padding: 20px   ;
}

h1{
    color:red;
    font-size: 28px;
}

p{
    color: blue; 
    font-family: Arial, Helvetica, sans-serif;
}

.highlight{
    background-color: yellow;
    font-weight: bold;
}

.special{
    border: purple;
    font-style: italic;
    font-weight: bold;
}

xyz{
    color: orange;
    background-color: blue;
    font-size: 20px;
    border: 2px dashed brown;
    padding: 5px;
    display: block;
    width: 100px;
    margin: 10px;
    padding: 5px;
}